 <h2>クリニック申し込み</h2>
  <%= form_for(@clinic, url: service_sign_up_confirm_path) do |f| %>

    <%= f.label :クリニック名 %>
    <%= f.text_field :name %>

    <%= f.label :クリニックの電話番号 %>
    <%= f.text_field :phone %>

    <%= f.fields_for :staffs do |s| %>
      
      <div class="field">
        <%= s.label :氏名 %>
        <%= s.text_field :name %>
      </div>

      <div class="field">
        <%= s.label :email %><br />
        <%= s.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= s.label :password %>
        <%= s.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= s.label :password_confirmation %><br />
        <%= s.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "確認画面へ進む" %>
    </div>
  <% end %>
